:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --light: 70;
  --threshold:50;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
  padding: 0;
}

#app {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid rgb(231, 62, 62);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: white;
  }
}
#disp {
  position: absolute;
  text-align: justify;
  background-color: rgb(14, 14, 72);
  color: #ffffff;
  min-height: 100vh;
  width: 16%;
  margin: 0 0 0 0;
}
#disp > h1{
  text-align: center;
}
#main{
  position: relative;
  margin: 0 0 0 17%;
  min-height: 100vh;
  align-content: center;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
}
#lib{
  margin-left: 30%;
  font-family:'Courier New', Courier, monospace;
}
#top{
  display: flex;
  justify-content: space-between;
}
#accounts{
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 0.8em;
}
@media (max-width: 800px) {
  #top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
  }
}
#btn1, #btn2, .press{
  cursor: pointer;
  padding: 0.5em;
  background-color: darkseagreen;
  border-radius: 0.5em;
  border: 0.2em solid black;
  outline: none;
  font-size: large;
}
#btn1:hover, #btn2:hover, .press:hover{
  border-color: #fff;
  box-shadow: 0.625rem 0.625rem 0.9375rem 0.125rem yellow inset;
}

.inner{
  cursor: pointer;
  background-color: darkseagreen;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-size:large;
}
ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: rgb(14, 14, 72);
  font-weight: bold;
  display: inline-block; 
  width: 1.5em;
  margin-left: -2em;
}

#shelf{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.75em;
  justify-items: center;
  margin-top: 5em;
}
@media only screen and (max-width: 1024px){
  #shelf{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 800px){
  #shelf{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 536px){
  #shelf{
    grid-template-columns: repeat(1, 1fr);
  }
  #disp{
    width: 0%;
  }
  #disp > h1, #disp > #lists{
    display: none;
  } 
  #main{
    margin: 0 0 0 0;
    border-left: 1px solid black;
  }
}
.book{
  border: 1px solid pink;
  position: relative;
  width: 11.25em;
  height: 15.625em;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0.125em;
  border-bottom-left-radius: 0.25em;
  line-height: 1.5625rem;
  --switch: calc((var(--light) - var(--threshold)) * -100%);
  color: hsl(0, 0%, var(--switch));
  box-shadow: 0.125em 0.125em rgb(69, 67, 67), .4375em .4375em rgb(235, 233, 233), .5625em .5625em rgb(69, 68, 68);
}
.Book > h1, h2, h3{
  margin: 0;
  padding: 0;
}
.book:hover .fa-solid{
  visibility: visible;
}
.fa-solid{
  position: absolute;
  font-size:large;
  cursor: pointer;
  left: 160px;
  bottom: 5px;
  visibility: hidden;
}
.tooltiptext{
  visibility: hidden;
  width: 100px;
  font-size: small;
  background-color: rgb(190, 164, 164);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.fa-solid:hover .tooltiptext {
  visibility: visible;
}
