@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#body{
  border-radius: 4px;
  padding: 35px 35px;
}
#mains{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#modals{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-btn{
  position: absolute;
  right: 3%;
  top: 5%;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: MediumSeaGreen;
}

/* .mains.show-modal{
  display: block;
} */

input[type=text], [type=number], #dropdown{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 10px 25px 0px;
}

input[type=submit]{
  background-color: MediumSeaGreen;
  text-align: center;
  font-size: x-large;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding: 20px;
  color: white;
  cursor: pointer;
}