<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/Library/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <title>{% block title %}Default Value{% endblock %}</title>
    <script type="module" crossorigin src="/Library/assets/index-3cccd6a1.js"></script>
    <link rel="stylesheet" href="/Library/assets/index-979929ad.css">
  </head>
  <body>
    <h1>MY BODY</h1>
    <a href="/indexform">Form</a> <br>
    {% block content %}
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate adipisci veritatis quisquam dolorum quibusdam odit eos debitis, harum vero repellat nesciunt maiores ducimus veniam quia nisi totam mollitia nemo tenetur? <br>
    <img src="/Images/rpc-icons.png" alt="Picz">
    {% endblock %} 
  </body>
</html>